{% extends 'main.html' %}

{% block content %}
<div class="flex items-center justify-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
    <div class="p-8 w-full xs:w-7/8 sm:w-5/6 md:w-2/3 lg:w-1/3 bg-white rounded-lg shadow-xl dark:bg-gray-800">
        <!-- Form Header -->
        <div class="text-center max-w-full">
            <h5 class="text-xl font-medium text-gray-700 dark:text-gray-200">Enter new password</h5>
            <small class="text-gray-500 dark:text-gray-200">
                Please enter your new password twice so we can verify you typed it in correctly.
            </small>
        </div>

        <form method="POST" class="mt-5 mb-2">
            {% csrf_token %}

            <div class="form-group">
                <div class="fildWrapper relative f-outline">
                    <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input appearance-none bg-transparent" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" value="{{ form.new_password1.value }}" type="password" placeholder=' ' required />
                    <label for="new_password1" class="absolute ml-4 top-0 text-sm text-gray-400 dark:text-gray-300 bg-white ark:bg-gray-800 mt-2 -z-1 duration-300 origin-0">New password</label>
                </div>

                <div class="fildWrapper relative f-outline mt-4">
                    <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input appearance-none bg-transparent" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" value="{{ form.new_password2.value }}" type="password" placeholder=' ' required />
                    <label for="new_password2" class="absolute ml-4 top-0 text-sm text-gray-400 dark:text-gray-300 bg-white ark:bg-gray-800 mt-2 -z-1 duration-300 origin-0">Confirm password</label>
                </div>

                {% if form.new_password2.errors %}
                    {% for error in form.new_password2.errors  %}
                        <p class="text-xs text-red-400 mt-1 ml-1">* {{ error|escape }}</p>
                    {% endfor %}
                {% endif %}

                <!-- Submit Button -->
                <button class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" type="submit">Change my password</button>
            </div>
        </form>
    </div>
</div>
<style>
    .f-outline input:focus-within ~ label,
    .f-outline input:not(:placeholder-shown) ~ label {
        margin-top: 14px;
        transform: translateY(-1.5rem) translatex(-1rem) scaleX(0.80) scaleY(0.80);
    }
</style>
{% endblock %}